@import "tailwindcss";
@plugin "daisyui";
/* global.css ya sidebar css file mein */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
